table,th,td
{
	border:1px solid black;
	font-family:"Calibri",sans-serif;
}
#head
{
	font-size:60px;
	height:113px;
}
#google
{  
	height:113px;
	width:225px;
	font-size:18px;
	text-align:left;
	vertical-align:top;
}
#github
{
	height:110px;
	width:225px;
	font-size:18px;
	text-align:right;
	vertical-align:top;
}
#fb
{
	height:113px;
	width:108px;
	font-size:18px;
	text-align:center;
	vertical-align:top;
}
#gmail
{
	height:113px;
	width:108px;
	font-size:18px;
	text-align:left;
	vertical-align:middle;
}
#youtube
{
	height:113px;
	width:108px;
	font-size:18px;
	text-align:center;
	vertical-align:bottom;
}
#2048
{
	height:113px;
	width:108px;
	font-size:18px;
	text-align:left;
	vertical-align:middle;
}
#food
{
	height:136px;
	width:108px;
	font-size:18px;
	text-align:right;
	vertical-align:bottom;		
}
#game
{
	height:136px;
	width:226px;
	font-size:18px;
	text-align:left;
	vertical-align:bottom;
}
#beer
{
	height:113px;
	width:341px;
	font-size:26px;
	font-weight:bold;
	text-align:right;
	vertical-align:middle;
}
#wc
{
	height:113px;
	width:108px;
	font-size:18px;
	text-align:left;
	vertical-align:middle;
}
#socialLife,#sleep
{
	text-align:center;
}