 body
 {
	background-color:rgb(173,216,230);
 }
 h1
 {
	text-weight:bold;
 }
 img
 {
	 width:160px;
	 height:160px;
 }
 p.a
 {
	 font-size:16px;
	 line-height:50%;
 }
 p.b
 {
	font-size:16px;
	font-style:italic;
	line-height:50%;	 
 }
 p.c
 {
	font-size:16px;
	font-style:normal;
	text-indent:40px;
	line-height:50%;
 }