
body,footer,section
{
	margin:0;
	padding:0;
}
body,a
{			
	font-family:Calibri,sans-serif;
	color:rgb(255,255,255);
}
footer
{
	position:absolute;
	display:inline-table;
	width:100%;
	height:236px;
	background:rgb(35,68,101);
}
section
{
	position:relative;
	float:left;
	width:19%;
	height:200px;
	text-align:left;
}
input[type="submit"]
{
	position:relative;
	width:150px;
	height:35px;
	border:2px solid rgb(235,147,13);
	color:white;
	background:transparent;
	margin:3px 0 7px 0;
}
input[type="submit"]:hover
{
	background:rgb(235,147,13);
}
h1
{
	margin:0;
	padding:0 0 8px 0;
	font-size:1em;
	line-height:100%;
	color:rgb(235,147,13);
}
ul
{
	list-style:none;
	padding:0;
	margin:0;
}
li
{
	padding:3px 0 0 0;
}
a
{
	text-decoration:none;
}
a:hover
{
	color:rgb(235,147,13);
}
#first,#second,#third,#fourth,#fifth
{
	display:table-cell;
	top:31px;
}
#first
{
	padding-right:18px;
	text-align:right;
}
#second
{
	width:165px;
	padding-right:27px;
}
#third
{
	width:165px;
	padding-right:36px;
}
#fourth
{
	width:278px;
	padding-right:27px;
}
#fifth
{
	padding-right:39px;
	top:16px;
}
img
{
	margin:20px 10px 0 0;
	width:25px;
	height:25px;
}
img:hover
{
	opacity:0.7;
}
#likeImg
{
	background:white;
	width:240px;
	height:200px;
}
