
table
{
	border: 2px solid rgb(223,223,223);
	width:360px;
	border-collapse:collapse
}
th
{		
	height:60px;
	text-weight:bold;
	font-size:32px;
	font-family:"Calibri",sans-serif;
	text-align:left;			
	vertical-align:text-top;
}
td.a
{
	width:160px;
	vertical-align:bottom;
	padding-left:10px;
}
td.b
{
	text-align:left;
	font-size:18px;
	font-family:"Calibri",sans-serif;
	line-height:95%;
}
img
{
	width:150px;
	height:150px;
}
